doctype html
head
  title Comments
  link(rel='stylesheet' type='text/css' href='comments.css')
h1 Comments
ul#comment-list
form#new-comment-form
  label(for='new-comment-author') Author:
  input#new-comment-author(type='text' name='author')
  br
  label(for='new-comment-text') Comment:
  textarea#new-comment-text(name='text')
  br
  button(type='submit') Submit
script(src='comments.js')
